@import url('https://fonts.googleapis.com/css?family=Rubik:500');
*{
    margin:0;
    padding: 1px;
    box-sizing: border-box;
    text-decoration: none;

}

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255); 
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#4A6491; 
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #30466d; 
  }

header{
    width: 100%;
    padding: 2rem 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;

}

.nome-prof8ssao{
  margin-left:20px;
  margin-top:200px;
}

#moon{
    margin-left: 60px;
    width:50px;
}

.cabecalho-menu{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: right;
    margin-right: 14px;

}

.portifolio{
    color:#30395C;
    font-size: 35px;
    gap:30px
}

.cabecalho {
    width:100%;
    float:left;
}

.ImagemDaniel{
    width:80px;
    margin-top: 12px;
}

.cabecalho-menu-item{
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#3455A1;
    align-items: center;
}

.cabecalho-menu-item:hover{
    font-size: 21px;
    color:#1A1F2B;
}

.apresentacao{
    background-image: url("imagens/Background.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    height: 720px;
    
}

h1{
    width: 100%;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation-duration: 3s;
    color:#3455A1;
}

.typing{
    color: #D0E4F2;
    background-color: #02143d;
    padding: 15px;
    border-radius: 10%;
    font-size: 28px;
}

.nome{
    font-size: 80px;
}

.nome-profissao{
    margin-top: 200px;
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}



@keyframes slide{
    from{
        margin-right: 100%;
        width: 300%;
    }
    to{
        margin-right: 0%;
    }
}

#daniel{
    width: 100%;
    font-size:20px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ImagemDesenvolvedor img{
    width: 20%;
    margin-left: 870px;
    margin-bottom: 100px;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}


.web{
    font-size:50px ;
    width:100%;
    margin-left: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
    color:#02143d;
}

.coffe-icon{
    width:3%;
    margin-left: 180px;
}

.logo-dev{
    display: flex;
    flex-direction: column;
}

.icon{
    width: 30px;
}
.cv {
    display: inline-block;
    width: 100px; 
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: #02143d;
    font-family: 'Rubik', sans-serif;
    font-size: 14px; 
    text-align: center; 
    line-height: 40px; 
    text-decoration: none; 
    border: none; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.cv:hover {
    background-color: #30395C; 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); 
}


.dev{
    margin-top: -22%;
    margin-right:100px ;
    animation-duration: 1s;
    animation-name: bounce;
    width: 300px;
    filter: drop-shadow(1px 1px 20px #3455A1);
}

@keyframes bounce{
    from{
        margin-right: 100%;
        width: 300%;
    }
    to{
        margin-right: 0%;
    }
}

.logo-dev{
    display: flex;
    flex-direction: row;    
    align-items: center;
}

h2{
    font-size: 100px;
    text-align: center;
    color: #02143d;
    
}

.card{
    width: 300px;
    height: 300px;
    border-radius: 10%;
    box-shadow: 5px 5px 15px #3159b6;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    margin-top: 40px;
    font-size: 30px;
    margin-bottom: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card p{
    margin-top: 10%;
}

#curso{
    background-image: url("imagens/Ads.png");
    color:white;
}

#back{
    background-image: url("imagens/BAcks.png");
}

#front{
    background-image: url("imagens/FrontEnd.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
}

#csharp{
    background-image: url("imagens/Csharp.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
}

.sobreItens{
    display: flex;
    flex-direction: row;
    gap:5%;
    margin-left: 10%;
}

.card:hover{
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
   
}
 
h3{
    text-align: center;
    width: 100%;
    font-size:30px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#02143d;
    margin-top: 50px;
    animation-duration: 2s;
}


#sobre{
    margin-top: -30px;
    height: 590px;
}

.logo-dev {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: -1000px;
}

.icon {
    margin: 0 10px;
    width: 30px; 
    height: 30px;
}

#linkedin, #ghub{
    font-size: 30px;
    margin-left: 3px ;
}

.projetos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px; 
    justify-items: center; 
    margin: auto;
    max-width: 100%; 
    margin-left: 5%;
    margin-top: 90px;
    
}

.projeto{
    margin-top: -40px;
    background-color: #d7d8db;
}

.overlay-container {
    position: relative;
    width: 90%;
    max-width: 100%;
}

.projetos-item {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5%;
    gap:20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #64b1f5;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

#projetoTitle{
    color:#02143d;
    margin-top: 20px;
}

.descricaoProjeto{
    font-size: 20px;
    color: aliceblue;
    margin: 20px;
}

.overlay-container:hover .overlay-text {
    opacity: 1; 
}

.projetos-item:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.links{
    display: flex;
    flex-direction: row ;
    gap:30px;
}

.linkItem{
    text-decoration: none;
    border: solid 2px #4ea2ec;
    padding: 10px;
    border-radius: 50px;
    color: white;
}

#MinhasSkills{
    color: #02143d;

}

.Skills{
    background-color: #feffff;
    margin-top: 100px;
}

.skill{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    font-size: 90px;
    gap:7px;
    margin: 10px;
    transition: opacity 0.3s ease; 
    margin-top: 90px;
}

.skill, i:hover{ 
    transform: scale(1.10); 
}

.WhatsFixedItem{
    margin-left:90%;
    width: 80px;
    margin-top: -150px;
    position: fixed;
    border-radius: 50%;
    box-shadow: 0 0 2px 8px rgba(0, 128, 0, 0.397);
}

footer{
    background-color: #02143d;
    margin-top: 120px;
}

footer p{
    margin: 20px;
    text-align: center;
    color:white;
}

footer p:hover{
    color: #82bff5;
}

/*  Responsividade */


@media(max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media(max-width:991px){
    header{
        padding:2rem 3%;
        width: 100%;
    }

    .nome-profissao{
        margin-right: 30px;
        margin-left: 0;
    }

    .portifolio{
        font-size:20px ;
        margin-left: 90px;
    }

    .cabecalho-menu{
        margin-right: 10%;
    }

    .cabecalho-menu-item{
        font-size: 16px;
    }
    
    #init{
        margin-right: 100px;
    }

     h1{
        font-size: 23px;
    }

    .texto-apresentacao{
        font-size: 16px;
    }

    h3{
        font-size: 27px;
    }

    h3:hover{
        font-size: 29px;
    }

    .backTitle{
        font-size: 30px;
    }

    .projetosBack, .projwtosFront{
        width: 100%;
    }
    .back, .front{
        width: 100%;
    }

    .projetos{
        width: 100%;
    }

    .imgProjeto{
        width: 110px;
    }

    .Txt{
        font-size: 10px;
        width: 100%;
    }
    .WhatsFixedItem{
        width: 50px;
        position: fixed;
        margin-left:900px;
    }
    @media (max-width: 768px) {
        html{
            font-size: 55%;
        }

        header{
            padding:2rem 3%;
            width: 100%;
        }

        .back{
            width: 750px;
        }

        .frontTitle{
            font-size: 30px;
        }

        .descricao{
            font-size: 14px;
        }

        .ttxt{
            font-size: 18px;
        }

        footer p{
            font-size: 15px;
        }
        .WhatsFixedItem{
            width: 50px;
            position: fixed;
            margin-left:700px;
        }
    }
    @media (max-width: 617px) {

       .back,.front{
        width: 600px;
       }

       .texto-apresentacao{
        text-align: left;
       }

       .imgProjeto{
        width: 80px;
       }

       .cabecalho-menu-item:hover{
        font-size: 10px;
       }
       .WhatsFixedItem{
        width: 50px;
        position: fixed;
        margin-left:540px;
    }
    }
    
    @media (max-width: 450px) {
        html {
            font-size: 50%;
        }
        .texto-apresentacao{
            text-align: left;
           }

        .back{
            width: 390px;
        }

        .imgProjeto{
            width: 80%;
            margin:10%;
           }

        .portifolio{
            font-size: 13px;
            margin-left: -5px;
        }

        .cabecalho-menu-item{
            font-size: 9px;
        }
        
        .cabecalho-menu-item:hover{
            font-size: 10px;
           }

        h1{
            font-size: 15px;
            margin-top: -0px;
        }

        #web{
            font-size: 15px;
        }

        .coffe-icon{
            width: 0px;
            height: 0px;
        }

        .apresentacao{
            text-align: center;
        }

        .texto-apresentacao{
            font-size: 13px;
            text-align: center;
            margin: auto;
            text-align: left;
        }

        .ImagemDesenvolvedor{
            width: 150px;
            margin: auto;
            margin-top: -50px;
        }

        .nome-profissao{
            margin-top: -10px;
        }

        .coffe-icon{
            width: 10px;
        }
        
        .dev{
            width: 10px;
        }

        h3{
            font-size: 20px;
        }

        .logo-dev{
            display: flex;
            flex-direction: column;
        }

        .icon{
            width: 27px;
            height: 27px;
        }

        icon:hover{
            width: 29px;
            height: 29px;
        }

        button{
            width: 60px;
            height: 60px;
            font-size: 10px;
        }

        .projetos{
            width: 100%;
        }

        .backTitle{
            font-size: 20px;
        }

        .projetosBack, .projetosFront{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .back,.front{
            width: 100%;
        }

        .apresentacao{
            display: flex;
            flex-direction: column;
            text-align: left;
        }

        .ttxt{
            font-size: 20px;
        }

        .descricao{
            font-size: 18px;
        }

        .projetosBack, .projetosFront{
            align-items: center;
            width: 100%;
        }
        .WhatsFixedItem{
            width: 50px;
            position: fixed;
            margin-left:300px;
            margin-top:0px;
        }
    }
    
    @media (max-width: 365px) {

        .nome-profissao{
            margin:10%
        }

        .texto-apresentacao{
            text-align: left;
           }

        .apresentacao{
            text-align: left;
        }   

        .ImagemDesenvolvedor{
            width: 80%;
        }

        .dev{
            margin: 10%;
        }

        .back{
            width: 100%;
        }
        .WhatsFixedItem{
            width: 50px;
            position: fixed;
            margin-left:90px ;
        }
    }
    @media (max-width: 313px) {
        .nome-profissao{
            margin:10%
        }

        .texto-apresentacao{
            text-align: left;
        }
        .apresentacao{
            text-align:left;
        }
        
        .ImagemDesenvolvedor{
            width: 80%;
        }

        .dev{
            margin: 10%;
        }
        .back{
            width: 302px;
        }

        .WhatsFixed{
            margin-left:50%;
        }
    }
    @media (max-width: 290px){
        

        .projetos{
            width: 100%;
        }

        .texto-apresentacao{
            text-align: left;
           }

        .back,.front{
            width: 100%;
        }
        .projetosBack,.projetosFront{
            width: 100%;
        }
        .WhatsFixed{
            margin-right: 400px;
        }
    }
}
