@import url('https://fonts.googleapis.com/css?family=Rubik:500');
*{
    margin:0;
    padding: 1px;
    box-sizing: border-box;
    text-decoration: none;

}

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255); 
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#4A6491; 
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #30466d; 
  }

header{
    width: 100%;
    padding: 2rem 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;

}


.cabecalho-menu{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: right;
    margin-right: 6%;

}

.portifolio{
    color:#30395C;
    font-size: 260%;
}

.cabecalho {
    width:100%;
    float:left;
}


.cabecalho-menu-item{
    margin-left: 4%;
    font-size: 120%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#3455A1;
    align-items: center;
}

.cabecalho-menu-item:hover{
    font-size: 125%;
    color:#1A1F2B;
}

.apresentacao{
    background-image: url("imagens/Background.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    height: 100%;
    
}

h1{
    width: 100%;
    font-size: 240%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation-duration: 3s;
    color:#3455A1;
}

.typing{
    color: #D0E4F2;
    background-color: #02143d;
    padding: 0.7%;
    border-radius: 10%;
    font-size: 70%;
}

.nome{
    font-size: 200%;
}

.nome-profissao{
    margin-top: 15%;
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}



@keyframes slide{
    from{
        margin-right: 100%;
        width: 300%;
    }
    to{
        margin-right: 0%;
    }
}


.ImagemDesenvolvedor img{
    width: 20%;
    margin-left: 70%;
    margin-bottom: 10%;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}


.web{
    font-size:290% ;
    width:100%;
    margin-left: 0.7%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
    color:#02143d;
}


.icon{
    width: 10%;
}

.cv {
    display: inline-block;
    width: 100px; 
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: #02143d;
    font-family: 'Rubik', sans-serif;
    font-size: 14px; 
    text-align: center; 
    line-height: 40px; 
    text-decoration: none; 
    border: none; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.cv:hover {
    background-color: #30395C; 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); 
}


.dev{
    margin-top: -22%;
    animation-duration: 1s;
    animation-name: bounce;
    filter: drop-shadow(1px 1px 20px #3455A1);
}

@keyframes bounce{
    from{
        margin-right: 100%;
        width: 300%;
    }
    to{
        margin-right: 0%;
    }
}

.logo-dev{
    display: flex;
    flex-direction: row;    
    align-items: center;
}

h2{
    font-size: 560%;
    text-align: center;
    color: #02143d;
    
}

.card{
    width: 300px;
    height: 300px;
    border-radius: 10%;
    box-shadow: 5px 5px 15px #3159b6;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    margin-top: 6%;
    font-size: 200%;
    margin-bottom: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card p{
    margin-top: 10%;
}

#curso{
    background-image: url("imagens/Ads.png");
    color:white;
}

#back{
    background-image: url("imagens/BAcks.png");
}

#front{
    background-image: url("imagens/FrontEnd.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
}

#csharp{
    background-image: url("imagens/Csharp.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
}

.sobreItens{
    display: flex;
    flex-direction: row;
    gap:5%;
    margin-left: 10%;
}

.card:hover{
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
   
}
 
h3{
    text-align: center;
    width: 100%;
    font-size:200% ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#02143d;
    margin-top: 5%;
    animation-duration: 2s;
}


#sobre{
    margin-top: -30px;
    height: 590px;
}

.logo-dev {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: -1000px;
}

.icon {
    margin: 0 10px;
    width: 30px; 
    height: 30px;
}

#linkedin, #ghub{
    font-size: 30px;
    margin-left: 3px ;
}

.projetos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%; 
    justify-items: center; 
    margin: auto;
    max-width: 100%; 
    margin-left: 5%;
    margin-top: 5%;
    
}

.projeto{
    margin-top: 1%;
    background-color: #d7d8db;
}

.overlay-container {
    position: relative;
    width: 90%;
    max-width: 100%;
}

.projetos-item {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5%;
    gap:20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #64b1f5;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

#projetoTitle{
    color:#02143d;
    margin-top: 20px;
}

.descricaoProjeto{
    font-size: 20px;
    color: aliceblue;
    margin: 20px;
}

.overlay-container:hover .overlay-text {
    opacity: 1; 
}

.projetos-item:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.links{
    display: flex;
    flex-direction: row ;
    gap:30px;
}

.linkItem{
    text-decoration: none;
    border: solid 2px #4ea2ec;
    padding: 10px;
    border-radius: 50px;
    color: white;
}

#MinhasSkills{
    color: #02143d;

}

.Skills{
    background-color: #feffff;
    margin-top: 10%;
}

.skill{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    font-size: 400%;
    gap:2%;
    transition: opacity 0.3s ease; 
    margin-top: 90px;
}

.skill, i:hover{ 
    transform: scale(1.10); 
}

.WhatsFixedItem{
    margin-left:90%;
    width: 80px;
    margin-top: -150px;
    position: fixed;
    border-radius: 50%;
    box-shadow: 0 0 2px 8px rgba(0, 128, 0, 0.397);
}

footer{
    background-color: #02143d;
    margin-top: 120px;
}

footer p{
    margin: 20px;
    text-align: center;
    color:white;
}

footer p:hover{
    color: #82bff5;
}

/*  Responsividade */

@media (max-width: 768px) {

    .portifolio{
    margin-left: 10px;
    }

    .cabecalho-menu {
        justify-content: center;
        margin-right: 0;
        text-align: center;
    }

    .cabecalho-menu-item {
        font-size: 19px;
        margin-left: 10px;
    }

    .ImagemDaniel {
        width: 60px;
        margin-top: 10px;
    }

     h1{
        font-size: 10px;
        margin-left: -140px;
    }

    .typing, .web{
        margin-left: -270px;
    }

    .apresentacao {
        height: 760px;
        padding: 20px;
        text-align: center;
    }

    .nome {
        font-size: 40px;
    }

    h2{
        font-size: 80px;
    }

    .ImagemDesenvolvedor{
        margin-top: -150px;
        width: 70%;
        margin-left: 400px;
    }

    #sobre{
        width: 700px;
        height: 1400px;
    }

    .projetos {
        display: flex;
        flex-direction: column;
        margin-top: -800px;
        margin-left: 90px;
    }


    .projetos-item{
        width: 97%;

    }

    #projetos{
        margin-top: -100px;
    }

    .front{
        margin-top: 1000px;
    }

    h3{
        display: none;
    }

    .card {
        width: 60px;
        height: 300px;
        font-size: 40px;
        margin-left: 50px;
        background-size: cover;
        background-repeat: no-repeat; 
        background-position: center center;
    
    }

    #projetos{
        margin-top: 800px;
    }

    .sobreItens {
        flex-direction: column;
        gap: 20px;
        margin-left: 0;
    }

    .skill {
        flex-direction: column;
        font-size: 50px;
        margin-left: 400px;
    }

    .WhatsFixedItem {
        width: 60px;
        margin-left: 50%;
    }

    .footer p {
        font-size: 14px;
    }

    .social-links {
        margin-top: 10px;
        font-size: 14px;
    }

    .cv {
        width: 80px;
        height: 35px;
        font-size: 12px;
        line-height: 35px;
    }
}


@media (max-width: 1280px) {
    html {
        font-size: 55%;
    }

    .logo-dev{
      margin-right: -30px;
    }
}
@media (max-width: 1024px) {

    h1 {
        font-size: 30px;
    }

    .nome {
        font-size: 60px;
    }

    .ImagemDesenvolvedor  {
        width: 120%;
        margin-top: 10%;
        margin-left: -20%;
    }


    .projetos {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        width: 90%;
    }

    .sobreItens {
        gap: 10%;
        margin-left: 5%;
    }

    .skill {
        font-size: 70px;
    }

    .footer p {
        font-size: 16px;
    }

    .cv {
        width: 90px;
        height: 38px;
        font-size: 13px;
    }
    .WhatsFixedItem{
        margin-left:-2300px;
    }
} 

@media (max-width: 991px) {
    .WhatsFixedItem{
        margin-left:800px;
    }

    #dev{
        width: 18%;
        margin-left: 700px;
        margin-top: -800px;
    }

    .logo-dev{
      margin-right: -300px;
    }

    .skill{
        font-size: 70px;
    }
}

@media (max-width: 768px) {
    body{
        width: 100%;
    }

    .cabecalho-menu-item{

        font-size: 170%;
    }
    .ImagemDesenvolvedor {
        width: 150%;
        margin-left: -85%;
        margin-top: 50%;
    }

    .logo-dev{
        margin-left: -10px;
        margin-right: 570px;
    }

    .web{
        margin-right: 32%;
    }
}


@media (max-width: 365px) {
    .portifolio{
        font-size: 140%;
    }

    .cabecalho-menu-item{
        font-size: 100%;
        margin-right: 10%;
    }
    
    .apresentacao{
        width: 100%;
        background-image: 100%;
    }

    h1{
        margin-left: 10px;
        font-size: 20px;
    }

    .nome{
        font-size: 30px;
        margin-left: -170px;
    }

    .web{
        font-size: 20px;
        margin-left: 0px;
        margin-right: 200px;
    }

    .nome-profissao{
        margin-right: -130px;
        margin-top: 100px;
    }

    .logo-dev{
        margin-left: 120px;
    }

    .ImagemDesenvolvedor{
        margin-left: -680px;
        margin-top: 400px;
        width: 300%;
    }

    #sobreMim{
        font-size: 530%;
        margin-left: -360px;
    }

    .card{
        width: 200px;
        font-size: 30px;
    }

    #projetoTitle{
        font-size: 530%;
    }

    .projeto{
        margin-left: -30px;
        margin-bottom: 10px;
    }

    .descricaoProjeto{
        font-size: 80%;
    }

    .skill{
        margin-left: 35%;
    }
}
